nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  border-bottom: 4px solid black;
  background: red;
}

@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
 }
}  

.link1 {
  grid-column: 1;
}

.link2 {
  grid-column: 2;
}

.link3 {
  grid-column: 4;
}

.link4 {
  grid-column: 5;
}

.headerlogo {
	grid-column: 3;
	background-image: url("../images/nodlogo.png");
	background-position: center;
	background-size: 80px;
	background-repeat: no-repeat;
	height: 50px;
	padding: 20px;
}

.navLinks {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.navLinks:hover {
  color: white;
  border: 1px solid black;
  padding: 1em 1em;
  background-color: black;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.indexcontainer {
	display: grid;
	margin: 5em;
	border: 4px black solid;
    grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(280px);
    grid-template-areas: 
	  "box1 box2 box3"
	  "box4 box5 box6"
}

.box1 {
	grid-area: box1;
	background-color: blue;
	border: 4px black solid;
}
.box2 {
	grid-area: box2;
	background-color: green;
	border: 4px black solid;
}
.box3 {
	grid-area: box3;
	background-color: purple;
	border: 4px black solid;
}
.box4 {
	grid-area: box4;
	background-color: yellow;
	border: 4px black solid;
}
.box5 {
	grid-area: box5;
	background-color: brown;
	border: 4px black solid;
}
.box6 {
	grid-area: box6;
	background-color: orange;
	border: 4px black solid;
}

.cvwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
      "leftcontent leftcontent rightcontent"
      "leftcontent leftcontent rightcontent"
      "leftcontent leftcontent rightcontent"
	  "eigenschappen talen hobby"
	  "personalia personalia personalia";
}

.cvleftcontent {
    grid-area: leftcontent;
	background-color: red;
	padding: 20px 20px;
	border-left: 60px black solid;
	border-top: 60px black solid;
}

.cvrightcontent {
    grid-area: rightcontent;
	background-color: red;
	padding: 20px 20px;
	border-right: 60px black solid;
	border-top: 60px black solid;
}

.cveigenschappen {
    grid-area: eigenschappen;
	background-color: red;
	padding: 20px 20px;
	border-left: 60px black solid;
}

.cvtalen {
    grid-area: talen;
	background-color: red;
	padding: 20px 20px;
}

.cvhobby {
    grid-area: hobby;
	background-color: red;
	padding: 20px 20px;
	border-right: 60px black solid;
}

.cvpersonalia {
    grid-area: personalia;
	background-color: red;
	padding: 20px 20px;
	border-left: 60px black solid;
	border-right: 60px black solid;
	border-bottom: 60px black solid;
}

/*hieronder alle images in de div contentbox1 zijn nu dus float right*/
.cvleftcontent img{
	float:left;
	margin: 20px 20px 20px 20px;
}